
@font-face {
    font-family: 'PassionOneBlack'; /* Nombre que asignas a tu fuente */
    src: url('/fonts/PassionOneBlack.ttf') format('truetype'); /* Ruta relativa a la fuente */
    /* Agrega otros formatos de fuente si tienes disponibles (woff, woff2, etc.) */
}

body {
        background-image: url('../imagen/bisuteria.png'); /* Ruta de la imagen */
        background-size: cover; /* Ajusta el tamaño de la imagen para que cubra todo el fondo */
        background-position: center; /* Centra la imagen en el fondo */
        background-repeat: no-repeat; /* Evita la repetición de la imagen */
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
        
}

/* Pseudo-elemento para agregar un fondo con opacidad encima de la imagen de fondo */
body::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.4); /* Cambia el último valor para ajustar la opacidad (0 = transparente, 1 = opaco) */
}

.video-container {
    max-width: 800px; /* Establece el ancho máximo del contenedor del video */
    margin: 0 auto; /* Centra el contenedor del video horizontalmente */
    position: relative; /* Asegura que el contenedor mantenga su posición */
    z-index: 1; /* Coloca el video encima del pseudo-elemento */
}

.content {
    position: relative; /* Asegura que el contenido mantenga su posición */
    z-index: 1; /* Coloca el contenido encima del pseudo-elemento */
}

#titulo {
    font-family: 'PassionOneBlack';

}